In [ ]:

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Create sample database and table
conn = sqlite3.connect("sales_data.db")
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS sales;")
cursor.execute("""
CREATE TABLE sales (
    product TEXT,
    quantity INTEGER,
    price REAL
);
""")

data = [
    ("Product A", 10, 5.0),
    ("Product B", 7, 8.0),
    ("Product C", 12, 6.5),
]
cursor.executemany("INSERT INTO sales VALUES (?, ?, ?);", data)
conn.commit()

# Run SQL
query = "SELECT product, SUM(quantity) AS total_qty, SUM(quantity * price) AS revenue FROM sales GROUP BY product"
df = pd.read_sql_query(query, conn)
print(df)

# Plot
plt.figure(figsize=(6,4))
df.plot(kind='bar', x='product', y='revenue')
plt.title("Revenue by Product")
plt.tight_layout()
plt.savefig("sales_chart.png")
plt.show()

conn.close()